/* main colors */
/* first text color #757575 */
/* second text color #212121 */
/* background color #FFFFFF */
/* accent #2196F3*/

body {
    color: #757575;
    background-color: #FFFFFF;
}










/* semantic hidden header */
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}